@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;700&display=swap');

body {
    font-family: 'Changa', sans-serif;
    margin:0;
}

.frontpage-bg {
    background-color: #89cff0;
    text-align:center;
    
}

.frontpage-bg a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

header {
    font-size: 8rem;   
}

section {
    margin: 0 1em
}

.form-container {
    font-size: 1.8rem;
    box-shadow: 10px 10px 10px rgba(0,0,0,.3);
    padding-bottom: .2%;
    background-color: white;

}
.spec {
    font-size: 1.8rem;
    box-shadow: 10px 10px 10px rgba(0,0,0,.3);
    padding-bottom: .2%;
    background-color: #89cff0;
}
input[type=text] {
     border: 1px;
     width: 80%;
     padding: 1em;
     box-sizing: border-box;
     border-radius: .5em;
     margin-top: 1.2em;
     box-sizing: border-box;
     border: 1px solid #89cff0;
}
/*
input[type=button] {
    background-color: orangered;
    border:none;
    font-weight: bold;
    padding: 1em 0;
    border-radius: .5em ;
    cursor: pointer;
} 

input[type=button]:hover {
    background-color: 89cff0;
    color: white;
    
} */

.PhoneModels {
    display:grid;
    grid-template-columns: repeat(2, 50%);
}

.top {
    animation: fadeIn 2s formards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.grid-container {
  
    grid-area: 1 / 1 / 3 /3;
    background: white;

}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 80%;
}
.img-col {
    flex-basis: 40%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }

* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 200px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 200px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}